* {
    padding: 0;
    margin: 0;
}
.message1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.message-board {
    width: 100%;
    max-width: 600px;
}
h1{
    color: rgba(43, 33, 33);
        position: fixed;
        left: 50%;
        transform: translateX(-50%); /* 使 H1 水平居中 */
        margin: 0;
        z-index: 1000; /* 確保在其他元素之上 */   
}
h2{
    background-color: rgba(136, 136, 191, 0.303);
}


.knowledge{
    background-color: rgb(227, 214, 197);
    padding: 95px 20px 10px;
}
.knowledge a{
    color: rgb(37, 26, 26);
    text-decoration: none;
}
.knowledge a:hover{
    text-decoration: underline;
}

.other{
    padding: 95px 20px 10px;
    
}
.other a{
    color: rgb(43, 33, 33);
    text-decoration: none;
}
.other a:hover{
    text-decoration: underline;
}
.indoor a{
    color: rgb(43, 33, 33);
    text-decoration: none;
}
.indoor a:hover{
    text-decoration: underline;
}
.indoor{
    display: flex;
    background-color: aliceblue;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 60px 200px 60px;
}
.indoor div{
    width: 250px;
    text-align: center;
}
.indoor img{
    width: 100%;
    border-radius:10px ;
    max-width: 30vw;
    border:  3px solid #000;
    box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.3);
    margin: 7px;
}
.indoor h4{
    font-size: 19px ;
    margin: 10px 0;
}
.indoor p{
   
    font-size: 14px;
    line-height: 1.6em;
   
}
.item{
    display: flex;
    background-color: aliceblue;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 60px 200px 60px;
}
.item div{
    width: 250px;
    text-align: center;
}
.item img{
    width: 100%;
    border-radius:10px ;
    max-width: 30vw;
    border:  3px solid #000;
    box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.3);
    margin: 7px;
}
.item h4{
    font-size: 19px ;
    margin: 10px 0;
}
.item p{
   
    font-size: 14px;
    line-height: 1.6em;
   
}
.item a{
    color: rgb(43, 33, 33);
    text-decoration: none;
}
.item a:hover{
    text-decoration: underline;
}
.stand{

    background-color: rgb(255, 255, 255);
        padding: 0 30px 80px;
    }
.level{
    background-color: rgba(85, 100, 112,0.2);
    padding: 80px 30px 80px;
}
.search{
    padding:170px 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search button{
    padding: 8px 12px;
    margin-left: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;    
}
.search input{
    padding: 8px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.video{
    float: right;
    position:fixed;
    bottom:0;  
}

@media screen and (max-width: 768px){
   
header h1{  
    transform: translateX(33vw);
}
.back:hover {
    background-color: #555;
}
.level img{
    width: 100%;
}
.stand img{
    width: 100%;
}
.item{
    flex-direction:column ;
    padding: 60px 125px;
}
.item div {
    margin-bottom: 30px;
}
.indoor{
    flex-direction:column ;
    padding: 60px 125px;
}
.indoor div {
    margin-bottom: 30px;
}
}

